body {
  background-image: url("../img/bg.jpg");
  min-height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: none;
  color: white;
}

.card {
  min-height: 27rem;
}
