html,
body {
  height: 100%;
}
body {
  background-image: url("/assets/img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: none;
  color: white;
}
